<a href="https://colab.research.google.com/github/Shamitha018/Strings/blob/main/0_06_11_2025_Strings_exam.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#1.str1='ola ola ola ola' Find the number of substring='ola' with out using count

In [10]:
str1='ola ola ola ola'
c=0
substring = 'ola'
st1_list = str1.split()
for i in st1_list:
  if i == substring:
    c += 1
print(f"The number of substrings '{substring}' is {c}")

The number of substrings 'ola' is 4

#2.str1='hello h$ow @are you***' Clean the string output could be= 'hello how are you'

In [13]:
import string
str1='hello h$ow @are you***'
str2=''
symbol = string.punctuation
for i in str1:
  if i not in symbol:
    str2 += i
str2

'hello how are you'

#3.str1='omkar.nallagoni@cognizant.com; bheem.kalyan@nareshit.com' Extract names surname and company names in 3 different lists

In [30]:
str1 ='omkar.nallagoni@cognizant.com; bheem.kalyan@nareshit.com'
person1 =str1.split(';')[0]
person2= str1.split(';')[1]

p1_lastname_index=person1.find('.')
p1_company_index = person1.find('@')
p1_dotcom = person1.find('.', p1_company_index)

p2_lastname_index= person2.find('.')
p2_company_index = person2.find('@')
p2_dotcom = person2.find('.', p2_company_index)

first_names = [
    person1[:p1_lastname_index],
    person2[:p2_lastname_index]
]

last_names = [
    person1[p1_lastname_index+1 : p1_company_index],
    person2[p2_lastname_index+1 : p2_company_index]
]
company = [
    person1[p1_company_index+1 :p1_dotcom ],
    person2[p2_company_index+1 :p2_dotcom ]
]

print(f'The lists are: \n first names: {first_names}\n last names: {last_names} \n companies: {company}')

The lists are:
 first names: ['omkar', ' bheem']
 last names: ['nallagoni', 'kalyan']
 companies: ['cognizant', 'nareshit']

#4.str1='a2b3c4' output='aa bbb cccc'

In [26]:
import string
alpha = string.ascii_letters
d = string.digits
str1 = 'a2b3c4'
str2=''
for i in str1:
  if i in alpha:
    str2 += i
  else:
    str2 *= int(i)
str2

'aabaabaabcaabaabaabcaabaabaabcaabaabaabc'